<div class="jumbotron">
    <div class="container center">
        <form class="connect-form" (ngSubmit)="sendConnectionRequest()" #connectForm="ngForm">
            <h3 class="connect-form-heading">Please enter a nickname</h3>
            <input type="text" id="nickname" name="nickname" placeholder="Nickname" class="form-control" [(ngModel)]="nickName" #nickname="ngModel" required>
            <div [hidden]="nickname.valid || nickname.pristine" class="alert alert-danger">Nickname is required!</div>

            <button class="btn btn-lg btn-primary btn-block connect-button" type="submit" [disabled]="!connectForm.form.valid">Connect</button>
        </form>
    </div>
</div>