<div id="wrapper" [class.toggled]="menuToggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li *ngFor="let client of clients" (click)="clientSelected(client)">
                <a [class.active]="client===selectedClient" [class.message]="client.messageReceived">
                    {{client.name}}
                </a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="toggle-div">
                        <button class="btn btn-default" id="menu-toggle" (click)="toggleMenu()"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
                    </div>
                    <div *ngIf="selectedClient">
                        <div class="input-group input-div">
                            <input class="form-control messenger-input" #messengerInput type="text" (keyup.enter)="sendMessage(messengerInput.value)">
                            <span class="input-group-btn">
                                <input class="file-input" #fileInput type="file" (change)="sendFile(fileInput.files[0])">
                                <button class="btn btn-default" (click)="fileInput.click()"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></button>
                            </span>
                        </div>
                        <div class="message-div">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let message of messages[selectedClient.id]">
                                    <span *ngIf="message.body">
                                        {{message.name}}: {{message.body}}
                                    </span>
                                    <span *ngIf="message.url">
                                        {{message.name}}: <a [href]="message.url" [download]="message.filename">{{message.filename}}</a>
                                    </span>
                                    {{scroll()}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>